<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Confirmation Page</title>
</head>
<body>
Student First Name: <span th:text="${student.firstName}"></span>
<br><br>
Student Last Name: <span th:text="${student.lastName}"></span>
<br><br>
Student Free Passes: <span th:text="${student.freePasses}"></span>
<br><br>
Postal Code: <span th:text="${student.postalCode}"></span>
<br><br>
Course Code : <span th:text="${student.CourseCode}"></span>
</body>
</html>